@font-face {
  font-family: "PoppinsBold";
  src:
    url("../fonts/Poppins-Bold.woff2") format("woff2"),
    url("../fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "arial", sans-serif;
  background-color: #E1F0F9;
}

h1 {
  font-family: "poppinsBold", sans-serif;
}


.swiper {
  width: 100%;
  height: auto;
}

.swiper-wrapper {
  gap: 0.35rem;
}

.thumbsSwiper {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #E1F0F9;
  z-index: 9999;
  border-top: 10px solid rgb(15 15 15 / 30%);
  padding: 1.1em;
  text-align: center;
  margin: auto;
}

.thumbsSwiper .swiper-wrapper {
  display: flex;
  gap: 0;
}

.thumbsSwiper .swiper-slide {
  display: flex;
  justify-content: center;
  text-align: center;
}

.swiper-slide span {
  background-color: 0;
  padding: 0.7em;
  border-radius: 100px;
  cursor: pointer;
  text-align: center;
  margin: 5px auto;
}

.thumbsSwiper .swiper-slide-thumb-active span {
  background: #292929;
  color: #fff;
}

.thumbsSwiper .swiper-slide span {
  display: block;
  width: 100%;
  padding: .75rem 0;
  text-align: center;
  font-size: 1rem;
  font-weight: 800;
}

.swiper-slide span:hover {
  background-color: #292929;
  color: #fafafa;
  transition: .2s ease-in;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: none;
  color: #292929;
  border: 3px solid #292929;
  border-radius: 100px;
  padding: 13px;
  width: 48px;
  height: 48px;
  position: fixed;
}

.swiper-button-prev {
  left: 1em !important;
}

.swiper-button-next {
  right: 1em !important;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: #292929;
  color: #fafafa;
}

@media screen and (max-width: 1110px) {
  .thumbsSwiper .swiper-slide span {
    padding: .6rem 1em;
  }
}

@media screen and (max-width: 990px) {
  .thumbsSwiper .swiper-slide span {
    padding: .6rem 2em;
  }
}

@media screen and (max-width: 840px) {
  .thumbsSwiper .swiper-slide span {
    padding: .6rem 1em;
  }
}

@media screen and (max-width: 768px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .swiper-slide p {
    display: flex;
  }
}

@media screen and (max-width: 412px) {
  .thumbsSwiper .swiper-slide span {
    padding: .6rem 0em;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 380px) {
  .thumbsSwiper .swiper-slide span {
    padding: .5rem .4rem;
    font-size: .85rem;
  }
}

@media screen and (max-width: 320px) {
  .thumbsSwiper .swiper-slide span {
    font-size: .8rem;
  }
}


.bg-title {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-family: 'poppinsBold', sans-serif;
}

.bg-text {
  color: #292929 !important;
  background-color: none !important;
}

.big-welcome-logo {
  width: 20% !important;
  margin: 30px auto;
  text-align: center !important;
}